<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopName%> Shop</h1>
    <h2>Here are the books that we sell:</h2>
    <ul>
      <% users.forEach(function(user) { %>
        <li><b>Name:</b><%= user.firstname%> <%= user.lastname %> <br><b>Username: </b><%= user.username %>  <br><b>Email: </b><%= user.email %> </li>
      <% }) %>
    </ul>
    </body>
</html>
